// Colors
$electric-blue-lemonade: #0063b2ff !global;
$electric-blue-lemonade-hover: rgb(4, 130, 233) !global;
$unknown-color: #f2f4f4 !global;
$color-picton-blue: #43bff0 !global;
$color-volkswagen-mocha-brown: #3e3e3e !global;
$color-white: #fff !global;
$color-black: #000 !global;
$box-shadow-color-1: rgba(0, 0, 0, 0.15) !global;
$box-shadow-color-2: rgba(0, 0, 0, 0.1) !global;
$box-shadow-color-3: rgba(0, 0, 0, 0.05) !global;
$color-gray: #181818 !global;
$color-dark-shade-of-gray-1: #282828 !global;
$color-dark-shade-of-gray-2: #383838 !global;

// Media Queries
$size-extra-large: 1680px !global;
$size-large:1280px !global;
$size-medium: 980px !global;
$size-small: 736px !global;
